* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.hanging-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.hanging-navbar .navbar {
  height: 60px;
}

.hanging-navbar .navbar-brand img {
  height: 40px;
}

.v30_231 {
  width: 100%;
  height: 1200px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.transparent-container {
  width: 90%; /* Adjust the width as needed */
  height: 1400px; /* Adjust the height as needed */
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 50px;
  border: 2px solid rgba(255, 255, 255, 0); /* Transparent border */
}

.gambar_user {
  width: 424px;
  height: 424px;
  background: url("../images/v30_232.png");
  border: 2px solid rgba(0, 0, 0, 0.2);
  opacity: 1;
  position: relative;
  top: 150px;
  left: 70px;
  border-radius: 50%;
}

.edit_profil {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 50px;
  left: 600px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}

.container_form {
  width: 600px;
  height: 900px;
  background-color: transparent;
  position: absolute;
  top: 150px;
  left: 600px;
  border: 2px solid rgba(200, 0, 0, 0);
}

.container_nama {
  width: 500px;
  height: 90px;
  background: url("../images/v30_428.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.input_nama {
  width: 449px;
  height: 40px;
  opacity: 1;
  position: relative;
  top: 10px;
  left: 1px;
  border: 2px solid hsl(160, 160, 160);
  outline: none;
}

.nama_lengkap {
  width: 176px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}

.container_email {
  width: 600px;
  height: 90px;
  background: url("../images/v30_410.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 20px;
  left: 0px;
  overflow: hidden;
}
.alamat_email {
  width: 150px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}

.input_email {
  width: 449px;
  height: 40px;
  opacity: 1;
  position: relative;
  top: 10px;
  left: 1px;
  border: 2px solid hsl(160, 160, 160);
  outline: none;
}

.container_telepon {
  width: 600px;
  height: 90px;
  background: url("../images/v30_425.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.nomor_telepon {
  width: 179px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.input_telepon {
  width: 449px;
  height: 40px;
  opacity: 1;
  position: relative;
  top: 10px;
  left: 1px;
  border: 2px solid hsl(160, 160, 160);
  outline: none;
}
.container_simpan {
  position: absolute;
  top: 1000px;
  left: 750px;
  width: 279px;
  height: 70px;
}

.shape_simpan {
  width: 100%;
  height: 100%;
  background: rgba(3,13,48,1);
  border-radius: 20px;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s;
}

.teks_simpan {
  color: rgba(255,255,255,1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  transition: color 0.3s;
}

.shape_simpan:hover {
  background-color: rgba(3,13,48,0.8);
}

.teks_simpan:hover {
  color: rgba(255,255,255,0.8);
}
.container_sandinew2{
  width: 600px;
  height: 90px;
  background: url("../images/v30_436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 120px;
  left: 0px;
  overflow: hidden;
}
.sandi_new2 {
  width: 179px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.input_sandibaru2 {
  width: 449px;
  height: 40px;
  opacity: 1;
  position: relative;
  top: 10px;
  left: 1px;
  border: 2px solid hsl(160, 160, 160);
  outline: none;
}
.v30_397 {
  width: 75px;
  height: 34px;
  background: url("../images/v30_397.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 415px;
  overflow: hidden;
}
.v30_398 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 41px;
  overflow: hidden;
}
.v30_399 {
  width: 31px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 2px;
}
.v30_400 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_401 {
  width: 31px;
  height: 26px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.container_sandinew{
  width: 600px;
  height: 90px;
  background: url("../images/v30_436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 100px;
  left: 0px;
  overflow: hidden;
}
.sandi_new {
  width: 179px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.input_sandibaru {
  width: 449px;
  height: 40px;
  opacity: 1;
  position: relative;
  top: 10px;
  left: 1px;
  border: 2px solid hsl(160, 160, 160);
  outline: none;
}
.v30_405 {
  width: 75px;
  height: 34px;
  background: url("../images/v30_405.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 415px;
  overflow: hidden;
}
.v30_406 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 41px;
  overflow: hidden;
}
.v30_407 {
  width: 31px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 2px;
}
.v30_408 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_409 {
  width: 31px;
  height: 26px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.container_sandi {
  width: 600px;
  height: 90px;
  background: url("../images/v30_436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.sandi_lama {
  width: 179px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.input_sandilama {
  width: 449px;
  height: 40px;
  opacity: 1;
  position: relative;
  top: 10px;
  left: 1px;
  border: 2px solid hsl(160, 160, 160);
  outline: none;
}
.v30_434 {
  width: 75px;
  height: 34px;
  background: url("../images/v30_434.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 415px;
  overflow: hidden;
}
.v30_435 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 41px;
  overflow: hidden;
}
.v30_436 {
  width: 31px;
  height: 21px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 2px;
}
.v30_437 {
  width: 34px;
  height: 34px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v30_438 {
  width: 31px;
  height: 26px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}

.v198_24 {
  width: 100%;
  height: 150px;
  background: url("../images/v198_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v198_25 {
  width: 100%;
  height: 150px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v198_26 {
  width: 76px;
  height: 96px;
  background: url("../images/v198_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 1316px;
  overflow: hidden;
}
.v198_27 {
  width: 76px;
  height: 64px;
  background: url("../images/v198_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v198_28 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 43px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v198_29 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v198_30 {
  width: 36px;
  height: 36px;
  background: url("../images/v198_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.v198_31 {
  width: 13px;
  height: 13px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 12px;
}
.v198_32 {
  width: 36px;
  height: 36px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v198_33 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 75px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v198_34 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 1223px;
  overflow: hidden;
}
.v198_35 {
  width: 30px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.name {
  color: #fff;
}
.v198_37 {
  width: 350px;
  height: 46px;
  background: url("../images/v198_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 838px;
  overflow: hidden;
}
.v198_38 {
  width: 350px;
  height: 46px;
  background: rgba(231,231,231,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v198_39 {
  width: 18px;
  height: 18px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 15px;
}
.v198_40 {
  width: 89px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 64px;
  left: 347px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v198_41 {
  width: 76px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 64px;
  left: 471px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v198_42 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 64px;
  left: 582px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v198_43 {
  width: 278px;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 35px;
  overflow: hidden;
}
.v198_44 {
  width: 22px;
  height: 79px;
  background: rgba(58,31,93,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v198_45 {
  width: 22px;
  height: 45px;
  background: rgba(58,31,93,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 23px;
}
.v198_46 {
  width: 22px;
  height: 45px;
  background: rgba(58,31,93,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 0px;
}
.v198_47 {
  width: 22px;
  height: 45px;
  background: rgba(225,82,73,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 23px;
}
.v198_48 {
  width: 22px;
  height: 45px;
  background: rgba(225,82,73,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v198_49 {
  width: 25px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 9px;
}
.v198_50 {
  width: 25px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
}
.v198_51 {
  width: 215px;
  height: 31px;
  background: linear-gradient(rgba(225,82,73,1), rgba(58,31,93,1));
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 60px;
}
.container_edit {
  width: 230px;
  height: 66px;
  background: url("../images/v30_439.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 650px;
  left: 225px;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.shape_edit {
  width: 230px;
  height: 66px;
  background: rgba(2,13,48,0);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.teks_edit {
  width: 182px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 24px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.shape_edit:hover {
  background-color: rgba(168, 172, 187, 0.8);
}

.teks_edit:hover {
  color: rgba(102, 102, 102, 0.8);
}

.container_simpan:hover,
.container_edit:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.container_jenis_kelamin {
  width: 449px;
  height: 100px;
  background: url("../images/v30_436.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 50px;
  left: 0px;
  overflow: hidden;
}


.v67_525 {
  width: 167px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 20px;
  left: 0px;
  font-family: Inter;
  font-weight: Light;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}

.radio_buttons {
  display: flex;
  gap: 100px;
  margin-top: 30px;
  margin-left: 20px;
}

.radio_buttons label {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-weight: lighter;
  font-size: 20px;
}

.radio_buttons input[type="radio"] {
  margin-right: 5px;
}