.container.content {
    text-align: left;
    margin: 20px auto;
    width: 80%;
    min-height: 500px;
}

.row {
  display: flex;
  padding-top: 50px;
}

.left-container {
    padding: 0px;
    margin: 0px 13px;
    height: 600px;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
}

.image-container {
    padding: 0px;
    margin: 0px 13px;
    height: 400px;
    border-radius: 10px;
    background-color: rgb(3, 3, 52);
    display: flex;
    justify-content: center;
    align-items: center;
}


.image-container img {
  object-fit: cover;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.info-container {
    flex: 2;
    padding: 10px 20px;
    margin: 0px 10px;
    color: black;
    font-family: Inter;
    font-weight: Medium;
}

.left-container .edit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container .edit button{
    margin: 10px 20px;
    padding: 0px 10px;
    color: white;
    font-size: larger;
    font-weight: bold;
    background-color: #ffc107;
    border: 2px solid rgba(0,0,0,1);
    position: relative;
    border-radius: 10px;
}

.left-container .unduh{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container .unduh button{
    margin: 10px 20px;
    padding: 0px 10px;
    color: white;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(62, 215, 62);
    border: 2px solid rgba(0,0,0,1);
    position: relative;
    border-radius: 10px;
}


.info-container .detail{
    display: flex;
    margin: 20px 0;
}
.info-container p{
    font-size: 24px;
}

.info-container .desc{
    text-align: justify;
}

.info-container .left{
    flex-basis: 40%;
}

.button-container {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 10px 20px;
}

.button-container button {
  padding: 10px 20px;
  color: white;
  font-size: larger;
  font-weight: bold;
  background-color: rgb(3, 3, 52);
  border: 3px solid rgba(0,0,0,1);
  position: relative;
  border-radius: 10px;
}

.rating-container button {
  padding: 5px 10px;
  color: white;
  font-size: larger;
  font-weight: bolder;
  background-color: rgb(3, 3, 52);
  border: 2px solid rgba(0,0,0,1);
  position: relative;
  margin: 10px 0px;
  border-radius: 7px;
}

.star-container {
    display: flex;
    padding: 50px 0px;
    justify-content: center;
}

.star-box {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    width: 60%;
    display: flex;
    padding: 50px 0px;
}

.star-left {
    padding: 0px;
    margin: 0px 13px;
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-left .rating-box{
    text-align: center;
}


.star-left .rating-box h1{
    font-weight: bold;
}

.star-left .rating-box h6{
    font-weight: bold;
}

.star-right{
    padding: 0px;
    margin: 0px 13px;
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
}

.star-right .all-rate{
    width: 100%;
    display: flex;
}

.star-right .all-rate ul{
    list-style-type: none;
    font-size: medium;
    font-weight: 500;
    padding: 0;
    margin-left: 10px;
}

.star-right .all-rate .rate-level{
    flex-basis: 20%;
}

.star-right .all-rate .rate-vis{
    flex-basis: 40%;
}

.star-right .all-rate .rate-total{
    flex-basis: 40%;
}

.star-right .all-rate ul li{
    margin-bottom: 5px;
}

.star-right .your-rate{
    border-top: 3px solid black;
    margin-top: 20px;
    padding-top: 10px;
    margin-left: 10px;
    width: 70%;
}

.star-active{
    color: #ffc107;
}

.star-inactive{
    color: black;
}

.rating-container {
    display: inline-block;
}

.rating-stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
}

.rating-stars input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
}

.rating-stars label {
    display: inline-block;
    cursor: pointer;
    margin: 0px 5px;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.rating-stars.inactive label{
    display: inline-block;
    cursor: not-allowed;
    margin: 0px 5px;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.rating-stars label:hover,
.rating-stars label:hover ~ label,
.rating-stars input[type="radio"]:checked ~ label {
    color: #ffc107;
}

.alert {
    position: relative;
}

.alert p {
    margin-bottom: 0;
}

.alert .close {
    position: absolute;
    border: none;
    background-color: #d1e7dd;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.alert .close:hover {
    opacity: 1;
}

.rating-container .submit-button{
    background-color: rgb(0, 255, 0);
    min-width: 90px;    
}

.rating-container .reset-button{
    background-color: rgb(255, 0, 0);
    min-width: 90px;
}

.star-left .star-count i {
    background-image: linear-gradient(to right, black 50%, #ffc107 50%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}