.container.content {
  text-align: left;
  margin: 20px auto;
  width: 80%;
  min-height: 500px;
}

.container h1 {
  font-family: Inter;
  font-weight: Medium;
  margin-bottom: 20px;
}

.container h2 {
  font-family: Inter;
  font-weight: Medium;
  color: rgb(70, 70, 70);
}

label p{
    font-size: larger;
    margin: 0;
    padding: 0;
}

.top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}

.top-content i{
    color: black;
    font-size: 20px;
    margin-right: 20px;
}

.container-cat label{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.container-cat input[type="checkbox"]:checked + label {
  box-shadow: none;
  background-color: rgb(3, 3, 52);
  font-weight: medium;
  color: #fff; 
}