.container.content {
  text-align: left;
  margin: 20px auto;
  width: 80%;
  min-height: 500px;
}

a{
  text-decoration: none;
  color: black;
  margin-left: 30px;
}

.transparent-container {
    width: 1000px; /* Adjust the width as needed */
    height: 500px; /* Adjust the height as needed */
    background-color: transparent;
    position: absolute;
    top: 175px;
    left: 200px;
    border: 2px solid rgba(0, 0, 0, 0.2); /* Transparent border */
}
  
h1{
  margin-left: 30px;
  font-weight: bold;
}

.invoice-container{
  font-weight: bolder;
  border-radius: 20px;
  font-size: 25px;
  color: black;
  font-family: Inter;
  font-weight: Medium;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  border: 3px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}


.invoice-container ul{
  list-style: none;
}