* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v26_455 {
  width: 100%;
  height: 1024px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_456 {
  width: 800px;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 320px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v34_772 {
  width: 672px;
  height: 490px;
  background: url("../images/v34_772.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 505px;
  left: 384px;
  overflow: hidden;
}
.v67_654 {
  width: 671px;
  height: 44px;
  background: url("../images/v67_654.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 446px;
  left: 0px;
  overflow: hidden;
}
.v26_458 {
  width: 671px;
  height: 44px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v26_457 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 12px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v34_770 {
  width: 255px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 404px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: right;
}
.v67_728 {
  width: 672px;
  height: 102px;
  background: url("../images/v67_728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 0px;
  overflow: hidden;
}
.v327_31 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v327_30 {
  width: 197px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v34_768 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v327_33 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 72px;
  left: 550px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: right;
}
.v327_32 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 36px;
  left: 513px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: right;
}
.v34_769 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 649px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: right;
}
.v67_727 {
  width: 669px;
  height: 264px;
  background: url("../images/v67_727.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 0px;
  overflow: hidden;
}
.v67_720 {
  width: 669px;
  height: 80px;
  background: url("../images/v67_720.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 0px;
  overflow: hidden;
}
.v67_721 {
  width: 669px;
  height: 80px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v67_722 {
  width: 639px;
  height: 60px;
  background: url("../images/v67_722.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 15px;
  overflow: hidden;
}
.v67_723 {
  width: 341px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v67_724 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v67_725 {
  width: 30px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 609px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v67_726 {
  width: 210px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v67_713 {
  width: 669px;
  height: 80px;
  background: url("../images/v67_713.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 0px;
  overflow: hidden;
}
.v67_714 {
  width: 669px;
  height: 80px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v67_715 {
  width: 639px;
  height: 60px;
  background: url("../images/v67_715.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 15px;
  overflow: hidden;
}
.v67_716 {
  width: 341px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v67_717 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v67_718 {
  width: 30px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 609px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v67_719 {
  width: 210px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v67_685 {
  width: 669px;
  height: 80px;
  background: url("../images/v67_685.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v67_686 {
  width: 669px;
  height: 80px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v67_688 {
  width: 639px;
  height: 60px;
  background: url("../images/v67_688.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 15px;
  overflow: hidden;
}
.v67_691 {
  width: 341px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v67_711 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v67_712 {
  width: 30px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 609px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v67_687 {
  width: 210px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v34_767 {
  width: 178px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v34_771 {
  width: 671px;
  height: 150px;
  background: url("../images/v34_771.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 384px;
  overflow: hidden;
}
.v327_26 {
  width: 217px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 120px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v327_24 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 80px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v327_23 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v34_765 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v327_29 {
  width: 151px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 120px;
  left: 520px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: right;
}
.v327_28 {
  width: 324px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 80px;
  left: 347px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: right;
}
.v327_27 {
  width: 319px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 352px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: right;
}
.v34_766 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 589px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: right;
}
.v34_764 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 279px;
  left: 384px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v26_461 {
  width: 373px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 211px;
  left: 384px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v34_773 {
  width: 277px;
  height: 80px;
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 596px;
  overflow: hidden;
}

.v26_459 {
  width: 30px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 1070px;
  overflow: hidden;
}
.v26_460 {
  width: 16px;
  height: 16px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
}
